<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NuGet.Common" version="6.2.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="6.2.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="6.2.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="6.2.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="6.2.0" targetFramework="net472" />
  <package id="StyleCop" version="6.2.0" targetFramework="net472" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Telegram.Bot" version="17.0.0" targetFramework="net472" />
  <package id="TWCore" version="2.1.181" targetFramework="net472" />
  <package id="TWCore.Bot" version="2.1.181" targetFramework="net472" />
  <package id="TWCore.Bot.Telegram" version="2.1.181" targetFramework="net472" />
</packages>